### Gather dependencies

In [1]:
# Import Dependencies
import os
import pandas as pd
import requests
import json
import csv
import datetime as dt
from dateutil.relativedelta import relativedelta 
import psycopg2
import psycopg2.extras as extras 
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine

### Read CSV files and create initial DFs

In [2]:
# Read csv files
airbnb_csv = pd.read_csv("./Data/AB_US_2020.csv", low_memory=False)
airports_csv = pd.read_csv("./Data/airports.csv", low_memory=False)
airbnb = airbnb_csv
airports = airports_csv
airbnb.head()
#airports.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

### Create engine from SQL Alchemy for PostgreSQL

In [3]:
# Create connection to PostgreSQL
from config import username, password, port, dbase
engine = create_engine(f'postgresql://{username}:{password}@localhost:{port}/{dbase} ')

### Populate staging tables

In [ ]:
# SQL insert functiont to insert airbnb_csv into a PostgreSQL table.

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = pd.read_csv('./Data/AB_US_2020.csv', low_memory=False)

execute_values(conn, df, 'stg_airbnbs')

In [ ]:
## SQL insert functiont to insert airports into a PostgreSQL table.

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = pd.read_csv('./Data/airports.csv', usecols = ['IATA', 'AIRPORT', 'CITY','STATE','LATITUDE','LONGITUDE'], low_memory=False)

execute_values(conn, df, 'stg_airports')

In [4]:
# US Cities
cities = pd.read_csv('./Data/uscities.csv', usecols=['city', 'state_id', 'lat', 'lng'])
cities = cities.rename(columns={
    'city':'city_name',
    'state_id':'state',
    'lat':'latitude',
    'lng':'longitude',
} )
cities.head()

     city_name state  latitude  longitude
0     New York    NY   40.6943   -73.9249
1  Los Angeles    CA   34.1141  -118.4068
2      Chicago    IL   41.8375   -87.6866
3        Miami    FL   25.7840   -80.2101
4       Dallas    TX   32.7935   -96.7667

### Load US cities to DB

In [ ]:
# Load US cities to database
def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted, yahoo")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = cities.drop_duplicates()

execute_values(conn, df, 'us_cities')

### Load Dimension/Fact tables

In [5]:
# Hosts DF
hosts_df = airbnb[['host_id', 'id', 'host_name']]
# Get unique values
hosts_df = hosts_df.rename(columns={
    'id':'airbnb_id'
}  )
hosts_df.drop_duplicates()
hosts_df.head()

   host_id  airbnb_id  host_name
0   165529      38585    Evelyne
1   427027      80905    Celeste
2   320564     108061       Lisa
3   746673     155305    BonPaul
4   769252     160594  Elizabeth

In [6]:
# Room Type DF
room_type_df = airbnb[['room_type']]
room_type_df.drop_duplicates().reset_index()

   index        room_type
0      0     Private room
1      1  Entire home/apt
2    100       Hotel room
3    185      Shared room

In [ ]:
# Room type dimension load
def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = room_type_df.drop_duplicates()

execute_values(conn, df, 'room_types')

In [ ]:
# Airports
apt = pd.read_csv('./Data/airports.csv', usecols=['IATA', 'AIRPORT', 'CITY', 'STATE', 'LATITUDE', 'LONGITUDE'], low_memory=False)
airports = apt.drop_duplicates()
airports = airports.rename(columns={
	'IATA':'iata',
	'AIRPORT':'airport_name',
	'CITY':'city',
	'STATE':'state',
	'LATITUDE':'latitude',
	'LONGITUDE':'longitude'

} )
# airports.head()

# Load Airports
def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = airports

execute_values(conn, df, 'airports')

In [ ]:
# Hosts dimension load
def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted, presto")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = hosts_df.drop_duplicates()

execute_values(conn, df, 'hosts')

In [25]:
# Create airbnb fact table df
import pandas as pd
from sqlalchemy import create_engine
from config import username, password, port, dbase
engine = create_engine(f'postgresql://{username}:{password}@localhost:{port}/{dbase}')
connection = engine.connect()

df1 = airbnb
df2 = pd.read_sql('select room_id, room_type from room_types', connection)
df3 = pd.read_sql('select host_id, airbnb_id, host_name from hosts', connection)
m1 = pd.merge(df1, df2, how='outer', on='room_type')
airbnb_fact = m1[['id', 'name', 'host_id', 'latitude', 'longitude', 'room_id', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'availability_365']]

airbnb_fact = airbnb_fact.rename(columns={
    'id':'airbnb_id',
    'name':'airbnb_name'
} )
airbnb_fact.head()

,airbnb_id,airbnb_name,host_id,latitude,longitude,room_id,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,35.65146,-82.62792,226035,60,1,138,1.14,0
1,160594,Historic Grove Park,769252,35.61442,-82.54127,226035,125,30,58,0.52,0
2,213006,Blue Gate West,1098412,35.58345,-82.59713,226035,48,1,137,1.35,0
3,246315,Asheville Dreamer's Cabin,1292070,35.59635,-82.50655,226035,65,3,57,0.53,106
4,495111,Walk Downtown private bath peaceful,12874214,35.60371,-82.55621,226035,85,2,338,3.36,0

In [27]:
#Insert into airbnb table

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted, cool")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = airbnb_fact.drop_duplicates()

execute_values(conn, df, 'airbnbs')

the dataframe is inserted, cool