In [17]:
# Import Dependencies
import os
import pandas as pd
import requests
import json
import csv
import datetime as dt
from dateutil.relativedelta import relativedelta 
import psycopg2

ImportError: cannot import name 'dateparser' from 'dateutil.relativedelta' (c:\Users\cbatl\Anaconda3\envs\-Python38\lib\site-packages\dateutil\relativedelta.py)

In [ ]:
#Python SQL toolkit and object relational mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, cast, Date

In [4]:
# Create engine
from sqlalchemy import create_engine
from config import username, password, port, dbase 
engine = create_engine(f'postgresql://{username}:{password}@localhost:{port}/{dbase}')
connection = engine.connect

In [12]:
# Read csv files
airbnb_csv = "./Data/AB_US_2020.csv"
airports = "./Data/airports.csv"

In [23]:
airbnb = pd.read_csv(airbnb_csv, low_memory=False) 
# dtype={'id': 'int64', 'name': 'str', 'host_id': 'int64', 'host_name':'str', 'neighborhood_group':'str', 'neighborhood':'int64', 'latitude':'float64', 'longitude':'float64',\
#      'room_type':'str', 'price':'float64', 'minimum_nights':'int64', 'number_of_reviews':'int64', 'last_review':'str', 'reviews_per_month':'float64', 'caluclated_host_listings_count':'int64', 'availability_365':'int64'})
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [13]:
airports = pd.read_csv(airports)
airports.head()

,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228