In [1]:
# Import Dependencies
import os
import pandas as pd
import requests
import json
import csv
import datetime as dt
from dateutil.relativedelta import relativedelta 
import psycopg2
import psycopg2.extras as extras 
import numpy as np

In [14]:
# Read csv files
airbnb_csv = pd.read_csv("./Data/AB_US_2020.csv", low_memory=False)
airports_csv = pd.read_csv("./Data/airports.csv", low_memory=False)
airbnb = airbnb_csv
airports = airports_csv
airbnb.head()
airports.head()

,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228

In [21]:
# SQL insert functiont to insert airbnb_csv into a PostgreSQL table.

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = pd.read_csv('./Data/AB_US_2020.csv', low_memory=False)

execute_values(conn, df, 'stg_airbnbs')

the dataframe is inserted

In [22]:
## SQL insert functiont to insert airports into a PostgreSQL table.

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = pd.read_csv('./Data/airports.csv', usecols = ['IATA', 'AIRPORT', 'CITY','STATE','LATITUDE','LONGITUDE'], low_memory=False)

execute_values(conn, df, 'stg_airports')

the dataframe is inserted