In [1]:
# Import Dependencies
import pandas as pd
import requests
import json
import csv
import psycopg2
import psycopg2.extras as extras 
import numpy as np

In [2]:
# Read csv file
cities_csv = pd.read_csv("./Data/uscities.csv")
city = cities_csv
cities = city[['city', 'state_id', 'lat', 'lng']]
cities.head()

          city state_id      lat       lng
0     New York       NY  40.6943  -73.9249
1  Los Angeles       CA  34.1141 -118.4068
2      Chicago       IL  41.8375  -87.6866
3        Miami       FL  25.7840  -80.2101
4       Dallas       TX  32.7935  -96.7667

# <span style="color: blue;">CURRENTLY</span> <span style="color: green;">WORKING</span> <span style="color: red;">HERE</span>

### <span style="color: blue;">Start Tom's PostgreSQL Loading Code</span>

In [ ]:
# SQL insert functiont to insert airbnb_csv into a PostgreSQL table.

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = pd.read_csv('./Data/AB_US_2020.csv', low_memory=False)

execute_values(conn, df, 'stg_airbnbs')

In [ ]:
## SQL insert functiont to insert airports into a PostgreSQL table.

def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("the dataframe is inserted")
	cursor.close()


conn = psycopg2.connect(
	database="AirBnB", user='postgres', password='bootcamp', host='127.0.0.1', port='5432'
)

df = pd.read_csv('./Data/airports.csv', usecols = ['IATA', 'AIRPORT', 'CITY','STATE','LATITUDE','LONGITUDE'], low_memory=False)

execute_values(conn, df, 'stg_airports')